<form action="{{ path('rechercheProduits') }}" method="POST">
    <div class="frrec">
        
            {{ form_widget(form.recherche) }}
       
    <button type="submit" class="btn">Rechercher</button>
    {{ form_widget(form) }}
    </div>
</form>