<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminProduits') }}">Livres</a>
            </li>
            <li>
                <a href="{{ path('adminCategories') }}">Thémes Livres</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminUtilisateurs') }}">Clients</a>
            </li>
            <li>
                <a href="{{ path('adminCommande') }}">Commandes</a>
            </li>
        </ul>
    </div>
    
      
</div>