{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div  id="modifiermotdepass">
            <h2>Mot de passe perdu</h2>
            
                        <p>
                            <br />
                            {{ 'resetting.check_email'|trans({'%email%': email}) }}
                        </p>
    </div>
{% endblock %}
